.filled,
.outline:hover {
    background-color: var(--color-primary-text);
    border: none;
    color: var(--color-background);
}

.outline {
    background-color: transparent;
    border: 2px solid var(--color-primary-text);
    color: var(--color-primary-text);
    transition: background 0.2s ease;
}

.ghost {
    background-color: transparent;
    border: none;
    color: var(--color-primary-text);
}

.button {
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: var(--font-weight-bold);
    padding-block: 0.75rem;
    padding-inline: 1.25rem;
    text-transform: uppercase;
}
