.tabs {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.tab {
    color: var(--color-secondary-text);
    display: flex;
    font-size: 0.875rem;
    padding: 0.25rem;
    text-decoration: none;
    text-transform: uppercase;
}

.tab:hover {
    color: var(--color-primary-text);
}

.tab.active {
    border-bottom: 2px solid var(--color-primary-text);
    color: var(--color-primary-text);
    font-weight: var(--font-weight-bold);
}
