.header {
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
    padding-inline: 2rem;
    position: sticky;
}
