.header {
	background-color: var(--color-surface-default);
	border-bottom: 1px solid var(--color-border);
	display: flex;
	justify-content: center;
	left: 0;
	padding-block: 1rem;
	padding-inline: 2rem;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
}

.container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
