.header {
    align-items: center;
    background-color: var(--color-surface-default);
    box-shadow: 0 1px 3px var(--color-shadow);
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
    padding-inline: 2rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
