.heading {
    color: var(--color-heading, var(--color-text-primary));
    font-family: var(--font-serif);
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.xsmall {
    font-size: 1rem;
}

.small {
    font-size: 1.25rem;
}

.medium {
    font-size: 1.5rem;
}

.large {
    font-size: 1.75rem;
}

.xlarge {
    font-size: 2rem;
}
