:root {
	--font-heading: auto;
	--font-text: sans-serif;
	--page-limit: 50rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-text);
}

body {
	background-color: var(--color-surface-default);
	display: flex;
	height: 100vh;
	transition: background-color 0.2s ease, color 0.2s ease;
}

#root {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow-y: auto;
}

.page-limit {
	width: min(100%, var(--page-limit));
}

.page-list {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	height: 100%;
}

.message {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	text-align: center;
}
