.link {
    color: var(--color-primary-text);
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    transition: color 0.2s ease;
}

.link:hover {
    color: var(--color-accent);
}
